/* Mobile */
@media (max-width : 500px) {
	.burger {
		position: relative;
		padding-top: 15px;
		min-height: 55px;
		max-width: 25px;
		display: inline !important;
		float: right;
	}
	.burger.right {
		padding-top: 18px;
		min-height: 55px;
		max-width: 25px;
		display: inline !important;
		float: right;
	}
	
	.burger.left {
		padding-top: 18px;
		min-height: 55px;
		max-width: 25px;
		display: inline !important;
		float: left;
	}
	
	.burger-line {
		width: 25px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
	}
	
.nav-bar{
	min-height: 75px;
	font-size: 30px;
    list-style:none;
    margin:0;
    text-align:center;
}
.nav-bar.left{
	padding: 0 20px;
    list-style:none;
    margin:0;
    text-align:left;
	justify-content: left;
}
.nav-bar.right{
	padding: 0px 20px;
    list-style:none;
    margin:0;
    text-align:right;
}
.nav-bar ul li {
	display: none;
}
.nav-bar li{
    display:inline;
}
.nav-bar a{
    display:inline-block;
}

/* Card CSS */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container div {
	min-width: 75%;
	flex: 4;
	color: black;
	padding: 10px;
	margin: 0;
}

/* footer */
.footer {
	position: relative;
	background-color: #ccc;
	width:100%;
	height: 100px;
	margin: 0;
	padding: 0;
}
.footer-nav{
	display: none;
}

.footer span p {
	font-size: 15px;
	color: black;
	display: inline;
	padding: 0;
	margin: 0;
}

/* divider */
.divider {
  position: relative;
  width: 100%;
  height: 75px;
  
  line-height: 70px;
  text-align: center !important;
}
.divider h3 {
	margin: 0 auto;
	width: 45%;
}

.divider::before,
.divider::after {
  position: absolute;
  width: 40%;
  height: 1px;
  
  top: 24px;
  
  background-color: rgba(0,0,0,0);
  
  content: '';
}

.divider::before {
  left: 2%;
}
.divider::after {
  right: 2%;
}
}