* {
     margin: 0;
     padding: 0;
}
/* NAVBAR CSS */
 .burger {
     position: absolute;
     display: none;
}
 .nav-bar{
     height: 75px;
     list-style:none;
     margin:0;
     padding:0;
     text-align:center;
}
 .nav-logo-left{
     position: absolute;
     left: 10px;
     max-height: 75px;
}
 .nav-logo-right{
     position: absolute;
     right: 10px;
     max-height: 75px;
}
 .nav-logo-center{
     position: absolute;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     max-height: 75px;
}
 .nav-bar.left{
     list-style:none;
     margin:0;
     padding:0 20px;
     text-align:left;
}
 .nav-bar.right{
     list-style:none;
     margin:0;
     padding:0 20px;
     text-align:right;
}
 .nav-bar li{
     vertical-align: middle;
     display:inline;
     padding: 10px;
     width: 100px;
     line-height: 75px;
     vertical-align: middle;
     text-align: center;
     margin: 0;
}
 .nav-bar ul {
     height: 100%;
}
 .nav-bar a{
     display:inline-block;
}
/* Card CSS */
 .container {
	 width: 100%;
	 align-items: center;
	 justify-content: center;
 }
 .sub-container {
	 border: 1px dotted black;
	 margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: center;
}
 .sub-container.big {
	 width: 80%;
     display: flex;
	 align-self: center;
     flex-wrap: wrap;
     text-align: center;
     justify-content: center;
}
 .sub-container.small {
	 width: 60%;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: center;
}
 .sub-container div {
     min-width: 33%;
     flex: 0;
     color: black;
     padding: 0;
     margin: 0;
}
/* footer */
 .footer {
     background-color: #ccc;
     width:100%;
     margin: 0;
     padding: 0;
     justify-content: center;
     text-align: center;
    /* This line is not needed but centers your text */
     display: inline-flex;
     align-items: center;
}
 .footer-nav{
     margin:0;
     padding:20px;
     text-align:center;
     justify-content: center;
     position: relative;
}
 .footer-nav dl dd{
     position: relative;
}
 .footer-nav dl{
     padding: 0 50px;
     position: relative;
     display: inline-block;
}
 footer span {
     color: black;
     position: absolute;
     left: 20;
}
 @media (max-width : 320px) {
     footer span {
         position: relative;
         display:block;
    }
}
/* divider */
 .divider {
     position: relative;
     width: 100%;
     height: 50px;
     line-height: 50px;
     text-align: center;
}
 .divider::before, .divider::after {
     position: absolute;
     width: 40%;
     height: 1px;
     top: 24px;
     background-color: black;
     content: '';
}
 .divider::before {
     left: 2%;
}
 .divider::after {
     right: 2%;
}
 